rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'bamou.mehdi@gmail.com';
    }
    
    match /public/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /media/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
