---
import Home from '../components/Home.jsx';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mehdi Bamou - Personal Site</title>
  </head>
  <body>
    <Home client:load />
  </body>
</html>
